Kaggle Dataset search engine

In [1]:
import pandas as pd
import numpy as np
import nltk
import re
from nltk.stem import PorterStemmer
!pip install tabulate

Requirement already satisfied: tabulate in d:\persnol_documents\tools\temp\lib\site-packages (0.9.0)

In [2]:
df=pd.read_csv("kaggle_datasets.csv")

In [3]:
df.head()

,title,description,url,owner,kernels,discussions,views,downloads,last_updated,license,size,featured,super_featured,upvotes
0,Trending YouTube Video Statistics (UPDATED),"Daily statistics (views, likes, category, tags...",https://www.kaggle.com/datasnaek/youtube-new,Mitchell J,3,4,9484,1668,2018-01-16,CC0,35087677.0,1,0,46
1,7ecb8f4fe2ece9f4c8ffd23af10c310f,NaN,https://www.kaggle.com/veralei/7ecb8f4fe2ece9f...,Vera Lei,0,0,55,2,2018-01-16,Other,127264365.0,0,0,0
2,Atom Dataset,Dataset with atom features,https://www.kaggle.com/chfly2000/nomad2018-ato...,chfly2000,0,0,26,1,2018-01-16,Other,0.0,0,0,0
3,tmptmp,NaN,https://www.kaggle.com/ilyaivanchenko/tmptmp,snow2011,0,0,12,1,2018-01-16,CC0,1635900.0,0,0,0
4,Lab 1 Matrix,NaN,https://www.kaggle.com/tjb5670/lab-1-matrix,Tjb5670,0,0,7,1,2018-01-16,CC0,18.0,0,0,0

In [4]:
df=df.drop(df.loc[:,'kernels':'upvotes'].columns,axis=1)
# we need first four columns only

In [5]:
df=df.fillna(" ")

# To remove null values

In [6]:
df['text']=df['title']+" "+df['description']

# combining title and description columns to form text column

In [7]:
df['text']=df['text'].apply(lambda x: x.lower())
# converting text to lowercase

df['text']=df["text"].str.replace("[^a-zA-z0-9]"," ")
# removing character except from a to z, A to Z, 0 to 9, and " "(space)

<ipython-input-7-51049e1c4ae7>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df['text']=df["text"].str.replace("[^a-zA-z0-9]"," ")

In [8]:
def remove_noise(text,noise):
    r=re.findall(noise,text)
    for i in r:
        text=re.sub(i,"",text)
        
    return text

# function to remove noise from text

In [9]:
df['text']=np.vectorize(remove_noise)(df['text'],"@[\w]*")
df['text']=df['text'].apply(lambda x:re.sub(r"http\S+\www\S+|https\S+", "",x,flags=re.MULTILINE))

# regular expression method to remove noise from text dataset

In [10]:
df.head()

,title,description,url,owner,text
0,Trending YouTube Video Statistics (UPDATED),"Daily statistics (views, likes, category, tags...",https://www.kaggle.com/datasnaek/youtube-new,Mitchell J,trending youtube video statistics updated da...
1,7ecb8f4fe2ece9f4c8ffd23af10c310f,,https://www.kaggle.com/veralei/7ecb8f4fe2ece9f...,Vera Lei,7ecb8f4fe2ece9f4c8ffd23af10c310f
2,Atom Dataset,Dataset with atom features,https://www.kaggle.com/chfly2000/nomad2018-ato...,chfly2000,atom dataset dataset with atom features
3,tmptmp,,https://www.kaggle.com/ilyaivanchenko/tmptmp,snow2011,tmptmp
4,Lab 1 Matrix,,https://www.kaggle.com/tjb5670/lab-1-matrix,Tjb5670,lab 1 matrix

In [11]:
## Tokenization
df['text']=df['text'].apply(lambda x:x.split())

# spliting text into tokens

In [12]:
stopwords=['for','me', 'the', 'had', 'if', 'be', 'than', 'weren', 'after', 'are', 'because', 'ourselves', 'below', 'is', 'now', 'with', 'aren', 'here', 'nor', 'hadn', 'that', 'shan', 'all', 'yourselves', 'their', 'haven', 'herself', 'who', 'am', 'both', 'just', 'when', 'above', "shouldn't", 's', 'down', "shan't", 'doesn', 'to', 'through', "you're", 'from', 'myself', "should've", 'y', 'her', "weren't", 'until', 'then', 'own', 'wasn', 'we', 'its', 'at', 'how', 'under', 'other', 'are', 'why', 'of', 'can', 'which', 'so']

In [13]:
for text in df['text']:
    for word in text:
        if word in stopwords:
            text.remove(word)
# removing stopwords

In [14]:
df['text']=df['text'].str.join(" ")

# converting text in the form of tokens back to sentence form

In [15]:
# df['text'].head()
def callfun():
    search_list = sorted(list(enumerate(similarity[8036])),reverse=True,key=lambda x:x[1])[1:12]
    matched_dataset=[]
    j=0
    for i in (search_list):
        if(search_list[j][1]==0):
            break;
        j=j+1
        results=[]
        results.append(df.iloc[i[0]]['title'])
        results.append((df.iloc[i[0]]['url']))

        matched_dataset.append(results)

    result_datasets=pd.DataFrame(matched_dataset,columns=['Dataset','URL'])


    if(len(result_datasets)>0):
        print(result_datasets.to_markdown())
    else:
        print("No result found")

# function that take input of dataset name to search and output relevant dataset

In [16]:
from sklearn.feature_extraction.text import TfidfVectorizer 
from sklearn.metrics.pairwise import cosine_similarity

# settings that you use for count vectorizer will go here

In [17]:
tfidf_vectorizer=TfidfVectorizer(use_idf=True) 

name=input("Search Dataset Here :")

dataset_name=pd.DataFrame({'title':" ","description":" ",'url':' ','owner':' ','text':name},index=[8036])

temp=df.append(dataset_name)

temp=temp['text']

tfidf_vectorizer_vectors=tfidf_vectorizer.fit_transform(temp)

similarity=cosine_similarity(tfidf_vectorizer_vectors)

callfun()

Search Dataset Here :dataset for sentiment analysis
|    | Dataset                               | URL                                                                    |
|---:|:--------------------------------------|:-----------------------------------------------------------------------|
|  0 | Sentiment Analysis                    | https://www.kaggle.com/varunkashyapks/sentiment-analysis               |
|  1 | Sentiment Analysis Dataset            | https://www.kaggle.com/sonaam1234/sentimentdata                        |
|  2 | movie-sentiment-analysis              | https://www.kaggle.com/yuhaowang/moviesentimentanalysis                |
|  3 | IMDB Sentiment Analysis               | https://www.kaggle.com/kaushik3497/imdb-sentiment-analysis             |
|  4 | Twitter Sentiment Analysis            | https://www.kaggle.com/nikhilparihar/twitter-sentiment-analysis        |
|  5 | just for competition                  | https://www.kaggle.com/pavetr/portosegurotemp                          |
|  6 | Sentence Polarity Dataset v1.0        | https://www.kaggle.com/nltkdata/sentence-polarity                      |
|  7 | Opinion Lexicon                       | https://www.kaggle.com/nltkdata/opinion-lexicon                        |
|  8 | Rare diseases - Sentiment analysis    | https://www.kaggle.com/natt77/rare-diseases-sentimient-analysis        |
|  9 | Driver                                | https://www.kaggle.com/naveenbanda/driver                              |
| 10 | Sentiment Labelled Sentences Data Set | https://www.kaggle.com/rahulin05/sentiment-labelled-sentences-data-set |